<div class="container">
    <account-info></account-info>
    <!-- Main Menu -->
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ng-if="account.type==0" ng-class="{active: contCtrl.viewValue === 'manager'}">
            <a href="/#!/manager" ng-click="changeView('manager')">Manager</a>
        </li>
        <li role="presentation" ng-if="account.type==1" ng-class="{active: contCtrl.viewValue === 'manager'}">
            <a href="/#!/manager" ng-click="changeView('manager')">My Account</a>
        </li>
        <li role="presentation" ng-repeat="comp in contCtrl.competitions" ng-class="{active: contCtrl.currentCompId === comp._id}">
            <a href="/#!/competition/{{comp._id}}" ng-click="changeView('competition')">{{comp.name}}</a>
        </li>
    </ul>
    <!-- end of <Main Menu> -->
    <!-- Sub Menu - Player/Competition -->
    <ol class="breadcrumb" ng-if="account.type==0" ng-show="contCtrl.viewValue === 'manager'">
        <li ng-class="{active: contCtrl.subViewValue === 'player'}">
            <a href="/#!/manager" ng-click="changeSubView('player')">Player</a>
        </li>
        <li ng-class="{active: contCtrl.subViewValue === 'competition'}">
            <a href="/#!/manager" ng-click="changeSubView('competition')">Competition</a>
        </li>
    </ol>
    <!-- end of <Sub Menu> -->
    <!-- Add and List players -->
    <div class="row" ng-if="account.type==0" ng-show="contCtrl.subViewValue === 'player' && contCtrl.viewValue === 'manager'">
        <div class="col-lg-12">
            <add-users></add-users>
        </div>
        <div class="col-lg-12">
            <table-component table-headers="contCtrl.userHeaders" table-keys="contCtrl.userKeys" table-body="contCtrl.players" table-title="Players"></table-component>
        </div>
    </div>
    <!-- Add and List competitions -->
    <div class="row" ng-if="account.type==0" ng-show="contCtrl.subViewValue === 'competition' && contCtrl.viewValue === 'manager'">
        <div class="col-lg-12">
            <add-competition></add-competition>
        </div>
        <div class="col-lg-12">
            <table-component table-headers="contCtrl.competitionHeaders" table-keys="contCtrl.competitionKeys" table-body="contCtrl.competitions" table-title="Competitions"></table-component>
        </div>
    </div>
</div>
<!-- My Account,parior = view(myaccount) -->
<div class="container" layout="column">
    <br>
    <!-- Sub Menu - money/bets -->
    <ol class="breadcrumb" ng-if="account.type==1" ng-show="contCtrl.viewValue === 'manager'">
        <li>
            <button class="btn btn-info" ng-disabled="contCtrl.subViewValue === 'account'" ng-click="changeSubView('account')">Money</button>
        </li>
        <li>
            <button class="btn btn-info" ng-disabled="contCtrl.subViewValue === 'bets'" ng-click="changeSubView('bets')">Bets</button>
        </li>
    </ol>
    <!-- end of <Sub Menu> -->
    <div class="panel panel-default" ng-if="contCtrl.subViewValue=='account'" style="padding: 2rem">
        <h4>Add money to my account</h4>
        <hr>
        <form name="addMoney"  ng-submit="updateMoney()">
            <div style="width: 20rem;">
                <label>Insert a value</label>
                <input required type="number" class="form-control" step="any" name="money" ng-model="target.money" min="1" max="500" />
            </div>
            <br>
            <button class="btn btn-info" type="submit">Add money</button>
        </form>
    </div>
    <div class="panel panel-default" ng-if="contCtrl.subViewValue=='bets'" style="padding: 2rem">
        <h4>Hmm...it's not good to gamble :D</h4>
        <hr>
    </div>
    <!-- This will show when we click on a competition -->
    <div class="row" ng-if="contCtrl.viewValue === 'competition'">
        <div class="col-lg-12">
            <competition-directive></competition-directive>
        </div>
    </div>
</div>
